<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<%= link_to 'Back', profiles_path %>

<section ng-app="profilesModule">
	<div ng-controller='ProfileController as profiles'>
		<input type='text' ng-model='profiles.profile.name' />
		<br/>
		<input type='text' ng-model='profiles.profile.user.email' />
			<!--<ul>
				<li ng-repeat="employmentRecord in profiles.profile.employmentRecords">
					<input type='text' ng-model='employmentRecord.title' />
				</li>
			</ul> -->
		<br/>
		<button ng-click="profiles.update()" >Update Profile</button>
	</div>
</section>

<!-- <section ng-app="profilesModule">
	<div ng-controller='HelloController as hello'>
		<input type='text' ng-model='hello.name' /> {{ name }}
	</div>
</section> -->