<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<%= link_to 'Back', profiles_path %>

<section ng-app="profilesModule">
	<div ng-controller='ProfileController as profiles'>
		<ul>
			<input type='text' ng-model='profiles.profile.name' />
			<button ng-click="profiles.update()" >Update Profile</button>
		</ul>
		<p>{{profiles.hello}}</p>
	</div>
</section>

<!-- <section ng-app="profilesModule">
	<div ng-controller='HelloController as hello'>
		<input type='text' ng-model='hello.name' /> {{ name }}
	</div>
</section> -->